<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="./vue/vue.js"></script>
	<title>Vue</title>
	<style>

		body {
			background-color: rgb(49, 48, 48);
			color: white;
		}

	</style>
</head>
<body>

	<div id="app">
		<!-- v-if simples -->
		<button @click="exibirSaldo = !exibirSaldo">
			<span v-if="!exibirSaldo">Exibir Saldo</span>
			<span v-if="exibirSaldo">Ocultar Saldo</span>
		</button>
		<p>Saldo: <span v-if="exibirSaldo">R$ {{ saldo }} </span></p>

		<br><hr><br>

		<!-- v-if e v-else -->
		Idade: <input type="text" id="inputIdade" @blur="setIdade()">
		<p v-if="idade < 18">Menor de idade</p>
		<p v-else>Maior de idade</p>

		<br><hr><br>

		<!-- v-if e v-else-if e v-else -->
		Nota: <input type="text" id="inputNota" @blur="setNota()">
		<p v-if="nota == ''">Digite a nota do aluno</p>
		<p v-else-if="nota >= 7">Aluno aprovado!</p>
		<p v-else-if="nota >= 5 && nota < 7">Aluno em recuperação!</p>
		<p v-else-if="nota >= 0 && nota < 5">Aluno reprovado!</p>
		<p v-else>A nota informada é inválida</p>

	</div>

	<script>
		
		new Vue({
			el: "#app",
			data: {
				saldo: 2351.98,
				exibirSaldo: true,
				idade: 0,
				nota: 0,
			},
			methods: {
				setIdade() {
					this.idade = inputIdade.value;
					if (this.idade >= 18) {
						alert("Maior de idade");
					} else {
						alert("Menor de idade");
					}
				},
				setNota() {
					this.nota = inputNota.value;
				}
			}		
		});

	</script>
</body>
</html>